---
import Layout from '../layouts/Layout.astro';
//import Navbar from '../components/navbar.astro';
import InsuranceGrid from '../components/insgrid.astro';
---
<Layout title="The Lions lamb">
<!-- --    <div class="index1">
    </div>
    <div class="navbar">
       <Navbar />
    </div> -->
    <div class="container">
       <div style="justify-content: center">
          <h1 style="font-size:2.5em">Our team will check your insurance coverage before your first appointment</h1>
         <br/>
          <p style='font-size:1.5em'>Here are our insurance partners</p>
       </div>
       <br/><br/>
       <div class='container1'>
        <InsuranceGrid />
       </div>
    </div>
    <br/><br/>
    <div>
        <p>We are more than just a body. We are also soul and spirit.

            Therapy is an investment in yourself. We were not meant to be isolated, alone, angry, hurt or depressed. Sometimes, it's necessary to shed tears, but these feelings should not be long-term.
            
            I have over 30 years of success stories. If you have questions about coverage, my team and I are standing by to help you explore your policy.Click hereto get started today.
            </p>
            <br/><br/>
    </div>
    <h3>Do you know the difference between an HSA and a FSA?</h3>
    <div>
        <div class='zone'><h3>HMO</h3>
            <h5>HMO is the most restrictive of all health care plans.</h5> 
            <p>If you have a HMO, you need permission from your provider before they will pay for your visit. Some plans will allow you to see the therapist of your choice, and pay an extra fee or a larger percentage of the cost. Contact our team and we can help you decide if our service fits your plan.</p>
            <h5>pros:</h5>
            <ul>
                <li>HMO plans typically have lower associated costs.</li>
                <li>The premiums are lower</li>
                <li>policyholders have only a small co-pay for in-network and covered visits</li>
                <li>There is no deductible.</li>
                <li>You will have a doctor to manage and coordinate your care.</li>
            </ul>
            <h5>cons:</h5>  
            <ul>
                <li>HMOs are much more controlling.</li>
                <li>They provide the client with only what they deem as medically necessary medical care from their own network of providers that they control.</li>
                <li>Patient must get approval before a visit. </li>
                <li>Our office does not partner with HMOs at this time.</li>
            </ul>    
        </div>
        <div class='zone'><h3>PPO</h3>
            <h5>A PPO is an insurance plan with no limits. You are covered if you use out-of-network providers.</h5> 
            <br/>
            <h5>If you have a PPO, you can enjoy these benefits:</h5>
        <ul>
            <li>You have the choice what doctor or therapist you will visit.</li>
            <li>You will not have to justify your decision to visit a specific doctor or therapist to your insurance company.</li>
            <li>If you don't like your therapist, you can find another with no penalty.</li>
            <li>This allows you to be in charge of your own care.</li>
            <li>They do not contract with health care providers</li>
            <li>Quality*</li>
        </ul>

        <h5>Cons</h5>
        <ul>
            <li>Most PPOs have a set deductable.</li>
            <li>This is the amount in a given year you must pay out of pocket before insurance will make payments on your behalf.</li>
            <li>Once your deductible is met, you will still be responsible for a percentage of each visit in the form of a co-pay.</li>


        </ul>
        <h5>*QUALITY:</h5>
        <p>When health care providers know that you are there because you chose them and can leave if you aren't satisfied with the service you receive, they have more incentive to give you quality care. Sadly, some therapists just don't survive, while those with results thrive.</p>
        </div>
    </div>
    <p>If you need help determining which plan you have, feel free to reach out to us. Here is a short video describing three types of payment.
    </p>
    <br/>
    <div class=center><iframe width="560" height="315" src="https://www.youtube.com/embed/hD1WaSeoRkI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
    
 </Layout>
<style>
    h1 {
        font-size:2.5em;
    }
    .p {
        
    }
    .container1{
        
        font-family:'Times New Roman', Times, serif;
        margin-left:5rem;
    .zone{

    }
        
    }
.center{
    justify-content: center;
}

</style>
 

