---
import Layout from '../layouts/Layout.astro';
---
<Layout title="The Lions lamb">
<div class=private>
<p> The Lions Lamb Family Therapy, LLC (the "Practice") is dedicated to safeguarding your privacy. As required by federal law, we are committed to maintaining the confidentiality of your Protected Health Information (PHI), which includes any information that identifies you or can be used to identify you. This Notice of Privacy Practices ("Notice") explains our legal responsibilities, privacy practices, and your rights regarding the collection and maintenance of PHI.

    YOUR RIGHTS:
    To exercise your rights regarding PHI, please submit a written request to the Practice using the contact information provided below.
    
    Access and Copy of PHI:
    You have the right to request electronic or paper copies of your PHI. The Practice may charge a reasonable fee for this service.
    In certain circumstances, the Practice may deny your request if it believes the disclosure could endanger your life or the life of another person. In such cases, you may have the right to request a review of this decision.
    Amendment of PHI:
    If you believe that any of your PHI is incorrect or incomplete, you have the right to request its correction. The Practice may require your request to be made in writing, along with a reason for the amendment.
    The Practice may deny your amendment request. In such cases, a written explanation for the denial will be provided, and you will have the opportunity to submit a written statement of disagreement.
    Confidential Communications:
    You have the right to request that the Practice communicates with you in a specific way to protect the confidentiality of your PHI. The Practice will accommodate all reasonable requests.
    Limiting Use and Disclosure:
    You can request that the Practice does not use or share your PHI for treatment, payment, or business operations. However, the Practice is not required to agree if it would affect your care.
    If you pay for a service or healthcare item out-of-pocket in full, you can request that the Practice does not disclose your PHI to your health insurer.
    You can also request restrictions on sharing your PHI with specific family members or friends by specifying the restriction and the individuals to whom it applies.
    Accounting of Disclosures:
    You can request an accounting, which is a list of instances where your health information has been shared. One accounting per 12 months will be provided at no charge, but additional requests within the same period may incur a reasonable fee.
    Receipt of Notice:
    You can request a paper copy of this Notice, even if you previously agreed to receive it electronically.
    Representation by Authorized Individuals:
    If you have appointed someone with medical power of attorney or if someone is your legal guardian, that person can exercise your rights on your behalf.
    Filing a Complaint:
    If you believe that your rights have been violated, you can file a complaint with the Practice using the following information:
    The Lions Lamb Family Therapy
    1717 Boyds Creek Hwy Ste 104B
    Seymour, TN 37865
    Vickie Starkey, LMFT
    Phone: 865-213-1535
    
    Additionally, you can file a complaint with the Tennessee Board for Licensed Professional Counselors, Licensed Marital and Family Therapists, and Licensed Clinical Pastoral Therapists through their official website at www.tn.gov.
    
    You can also file a complaint with the U.S. Department of Health and Human Services Office for Civil Rights by contacting them at:
    Address: 200 Independence Avenue, S.W., Washington, D.C. 20201
    Phone: 1-877-696-6775
    Website: www.hhs.gov/ocr/privacy/hipaa/complaints/
    
    The Practice will not retaliate against you for filing a complaint.
    
    Opting Out of Fundraising Communications:
    While the Practice may contact you for fundraising efforts, you have the right to request not to be contacted again.
    OUR USES AND DISCLOSURES:
    
    Routine Uses and Disclosures of PHI:
    The Practice is permitted under federal law to use and disclose your PHI without your written authorization for certain routine purposes, including treatment, payment, and the operation of our business. Examples include sharing your health information with professionals involved in your treatment or using PHI for appointment reminders.
    Uses and Disclosures of PHI Without Authorization or Opportunity to Object:
    In certain situations, the Practice may use or disclose your PHI without your authorization or an opportunity for you to object. These include instances involving public health and safety, compliance with legal requirements, law enforcement requests, and government functions. Please refer to our complete privacy policy for detailed examples in each category.
    You may revoke your authorization, at any time, by contacting the Practice in writing using the information provided above. The Practice will not use or share your PHI except as described in this Notice unless you give your written permission.
    
    OUR RESPONSIBILITIES:
    
    The Practice is legally obligated to maintain the privacy and security of PHI.
    We will adhere to the terms of this Notice currently in effect. If state or federal law imposes stricter requirements on PHI, we will comply with the more stringent law.
    The Practice reserves the right to amend this Notice, and any changes will be applicable to the PHI collected and maintained by the Practice. To obtain a revised Notice, you can request a copy from the Practice or access it on our website: thelionslamb.com
    In the event of a breach compromising your PHI, the Practice will notify you as required by law.
    Effective Date: 11/17/2021
    </p>
    </div>
    </Layout>
    <style>
     body{
        background: linear-gradient(to bottom, #644033, #8E6550, #B8896E, #DDB8A0);
     }

     .private{
        font-size:2rem;
        margin-left:4rem;
        margin-right:4rem;
        margin-top:4rem;
        margin-bottom:4rem;
        background: linear-gradient(to bottom, #644033, #8E6550, #B8896E, #DDB8A0);
        color:antiquewhite;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }   
    </style>
