---
import close from "../components/images/home/kabita-darlami-iArVfiNwdQ0-unsplash.jpeg";
import sisters from "../components/images/home/obie-fernandez-0GFNAelMPZA-unsplash copy 2.jpeg";
import friendsWithABaby from "../components/images/home/stockgroupfoto.jpeg";
---


    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
  
      body {
        background: linear-gradient(to bottom, #644033, #8E6550, #B8896E, #DDB8A0);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: x-large;
        color: antiquewhite;
      }
  
      .video-container {
        margin: 1rem 0;
      }
  
      .zone {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
      }
  
      .box {
        padding: 1.5rem;
        box-shadow: 0 0.15rem 0.5rem rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        margin-bottom: 2rem;
        background-color: rgba(255, 255, 255, 0.1);
      }
  
      .vlogo {
        width: 400px;
        height: auto;
        margin-bottom: 1rem;
        margin-right: 1rem;
      }
  
      h1,
      h2 {
        margin-bottom: 0.5rem;
      }
  
      p {
        margin-bottom: 1rem;
      }
  
      .relative.h-56,
      .relative.h-96 {
        overflow: hidden;
      }
    </style>
  
    <div className="box zone">
      <div id="animation-carousel" className="relative w-full" data-carousel="static">
        {/* Carousel wrapper */}
        <div className="relative h-56 overflow-hidden rounded-lg md:h-96">
          {/* Item 1 */}
          <div className="ease-linear" data-carousel-item>
            <img src={close} className="absolute w-full h-full object-cover transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="..." />
          </div>
          {/* Item 2 */}
          <div className="ease-linear" data-carousel-item>
            <img src={sisters} className="absolute w-full h-full object-cover transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="..." />
          </div>
          {/* Item 3 */}
          <div className="ease-linear" data-carousel-item="active">
            <img src={friendsWithABaby} className="absolute w-full h-full object-cover transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="..." />
          </div>
        </div>
      </div>
    </div>
  
    <script>
      // JavaScript code to enable automatic scrolling
      document.addEventListener("DOMContentLoaded", function() {
        const carousel = document.getElementById("animation-carousel");
        const carouselItems = carousel.querySelectorAll("[data-carousel-item]");
  
        let activeIndex = 0;
  
        setInterval(function() {
          carouselItems[activeIndex].classList.remove("ease-linear", "active");
          activeIndex = (activeIndex + 1) % carouselItems.length;
          carouselItems[activeIndex].classList.add("ease-linear", "active");
        }, 3000);
      });
    </script>
  
  
  