---
import TH from '../components/images/logo/thtransparent.png'

---

<style>
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-height: 200px;
    }
  
    .footer-element {
      max-height: 200px;
      overflow: auto;
      margin-right:2rem;
      margin-bottom:2rem;
    }
  </style>
  
  <div class="footer">
    <div class="footer-element">
      <!-- Content for the first element -->
      <a href="services.titaniumhut.com"><img src={TH}/></a>
    </div>
    <div class="footer-element">
      <!-- Content for the second element -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3237.9784380172405!2d-83.98055247462912!3d35.75133472612062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x885e9e324c432543%3A0x4d544741ea76b1db!2s523%20W%20Lamar%20Alexander%20Pkwy%2C%20Maryville%2C%20TN%2037801!5e0!3m2!1sen!2sus!4v1684774685928!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>