---
import Navbar from '../components/navbar.astro';
import BaseHead from '../components/head/headbase.astro';
import Footer from '../components/footer.astro';

const {content} = Astro.props;
---
<html>
  <head>
  </BaseHead>
  </head>

  <body>
    <Navbar />
    <!--<main class="py-12 lg:py-20"> -->
      
        <slot />
    </main>
	<footer>
		<Footer />
	</footer>
  </body>
</html>

